:root {
  --poppins: "Poppins", sans-serif;
  --sans: "Open Sans", sans-serif;
  --lightblue: rgb(240, 247, 248);
  --black: #111;
  --lightgrey: rgb(199, 199, 118);
  --blue: rgb(169, 170, 82);
  --transition: all 0.5s ease;
  --darkblue: rgb(152, 153, 74);
  --box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --background: linear-gradient(to right top, #e9f38b, #717239);
  --title: #41420e;
  --subtitle: #5f5414;
  --glowtitle: #f0f403;
  --previewShadow: #f2f3a8;
}
